<div *ngIf="divClient">
  <mat-card>
    <mat-card-header class="header">
      <mat-card-title class="header_title">MMC Clients</mat-card-title>
    </mat-card-header>
    <mat-card-content class="card_cntnt">
      <div>
        Muller & Phipps Pakistan (Pvt) Ltd. <a href="http://www.mulphico.com">www.mulphico.com</a> (Karachi)
        <br><br> NFRD (U/S 42). <a href="http://www.nfrd.org">www.nfrd.org</a> – (Rawalpindi)
        <br><br> AWT. <a href="http://www.askarinizampur.com.pk">www.askarinizampur.com.pk</a> – (Rawalpindi)
        <br><br> Askari Cement Ltd. <a href="http://www.aclwah.com.pk">www.aclwah.com.pk</a> (Rawalpindi)
        <br><br> Jublee Insurance Ltd. <a href="http://www.jubileegeneral.com.pk">www.jubileegeneral.com.pk</a> – (Islamabad)
        <br><br> KASB Bank Ltd. <a href="http://www.kasbbank.com">www.kasbbank.com</a> – (Islamabad)
        <br><br> Cascom Technologies (Pvt) Ltd. <a href="http://www.cascom.pk">www.cascom.pk</a> - (Islamabad)
        <br><br> Andromeda Technologies (Pvt) Ltd. <a href="http://www.anderomeda.com">www.anderomeda.com</a> – (Islamabad)
        <br><br> Bonita (Pvt) Ltd. <a href="http://www.casabonita.pk">www.casabonita.pk</a> – (Islamabad)
        <br><br> Jeewajee (Pvt) Ltd. <a href="http://Jeewajee.com">Jeewajee.com</a> – (Rawalpindi)
        <br><br> We r play (Pvt) Ltd. <a href="http://www.werplay.com">www.werplay.com</a> – (Islamabad)
        <br><br> Pearl De Gulf (Pvt) Ltd. – (Islamabad)
        <br><br> Sialkot International Airport Ltd. <a href="">www.sial.com.pk</a> – (Sialkot)
        <br><br> Shamo Jee Fabrics & Carpets –( Rawalpindi)
        <br><br> Wespak NGO <a href="http://www.wwtpk.org">www.wwtpk.org</a> – (Rawalpindi)
        <br><br> Hosh NGO <a href="http://www.hosh.org.pk">www.hosh.org.pk</a> – (Bannu) - KPK
        <br><br> Pak Printing Press (Pvt.) Ltd. – (Peshawar)
        <br><br> SME investment (Pte) Ltd – (Singapore)
        <br><br> Material & Technology Park (Pvt) Ltd – (Rawalpindi)
        <br><br> Hallmark Supply Chain (Pvt) Ltd. – (Rawalpindi)
        <br><br> Ceil International (Pvt) Ltd. – (Rawalpindi)
        <br><br> Apex Brick Works (Pvt) Ltd. – (Rawalpindi)
        <br><br> Allied Developers (Pvt) Ltd. – (Rawalpindi)
        <br><br> Bio Plus (Pvt) Ltd. – (Rawalpindi)
        <br><br> K - 2 Corporation (Pvt) Ltd – (Rawalpindi)
        <br><br> CEEM – Community Entrepreneurship Economic Model – Government of Punjab – Lahore
      </div>
    </mat-card-content>
  </mat-card>
</div>

<div *ngIf="divAbout">
  <mat-card>
    <mat-card-header class="header">
      <mat-card-title class="header_title">Mazhar Mahmood & Co.</mat-card-title>
    </mat-card-header>
    <mat-card-content class="card_cntnt">
      <div>
        <div class="content_subheader">CONNECTING YOUR BUSINESS TO THE TECHNOLOGY RESOURCES YOU NEED</div>
        <div><br>MMC , a firm of Cost & Management Accountants, provides quality services in the areas of Cost & Financial Accounting,
          Audit, Tax & Corporate Compliance, Management Consulting, Business Management, Quality Management, Research & Development,
          performance audit, feasibility reports, PPRA rules, Information Technology Solutions, Website development, anti
          dumping / antitrust, bridging the gap between investor and businessman, HR policy and any kind of business solution
          as per requirement of clients. </div>
        <div><br> MMC has come up with the concept of comprehensive financial services package. We offer our clients a Complete
          Turnkey Solution to their computing & other professional needs. The process starts with the initial study & analysis
          of the clients’ needs, available resources and future vision. Based on this study, we propose a plan of action,
          which may include performance evaluation, preparation of cost & financial accounting models, implementation of
          cost & financial Accounting Systems, conducting research & surveys, training of the appointed or concerned human
          resources etc. We follow international standards of backup support techniques in order to considerably reduce service
          lag time, enhance the efficiency and maintain a trouble-free working environment. Further, we make efforts to acquaint
          our clients with new techniques and technologies to enhance management capabilities and open up new realms for
          expansion and profitability. Our aim is to provide the Management with maximum information about their liquidity,
          leverage, financial position and profitability. We suggest, after studying existing system, how cost and expenses
          can be minimized in order to maximize their profits.</div>
        <div><br> We have a strong history for providing quality services to valuable corporate and business clients. Confidentiality
          of the client’s information is one of our core ethics. Here we narrate a brief list of our services for your convenient.
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<div *ngIf="divTeam">
  <mat-card>
    <mat-card-header class="header">
      <mat-card-title class="header_title">MMC Members</mat-card-title>
    </mat-card-header>
    <mat-card-content class="card_cntnt">
      <div>
        <div class="content_header">Mazhar Mahmood</div>
        <div class="content_subheader">FCMA, FPA, MA Economics & M.Com</div>
        He served for 19-years in different sizeable national and multi-national manufacturing, distribution and service industry
        with the job profile ranging from Accountant to GM / Director Finance. He has an extensive experience of all three
        levels of managements i,e operation, middle and higher management. He also got different appreciation letters from
        employers during his employment. Supply Chain management, budgeting, forecasting, current assets management (funds,
        receivable & inventory), business plan and pre–feasibility studies are few areas where he did his level best. His
        expertise include: Overall management of organization, financial analyses, Portfolio management, financial manuals,
        costing, reconciliations, capital budgeting, preparation of feasibility reports, internal controls, special / routine
        audit, investment proposals , sales team performance, Preparation of different incentive - schemes, HR – polices,
        designing Appraisal standard, recruitments, corporate litigations, distant management and designing of reports for
        management decision making etc. He has a hand on experience of IFRS / IAS, Company Ordinance 1984, Labor Laws, Tax
        Laws, Auditing Standard and other Provincial & local laws.
        <br>
        <br>
        <hr>
        <div class="content_header">Muhammad Alam</div>
        <div class="content_subheader">BIE, MBA,& HRM</div>
        A committed professional having significant broad-based practical experience in the organizations of National & International
        repute. Having experience in different capacities like Consultant, COO, GM, Advisor to CEO, Head of the department
        in Refineries, Heavy Engineering Organization and E&P services Company. Handled different projects which were completed
        successfully. Possesses good experience in Corporate Management, Production, Procurement, Warehouse, Logistic Management
        and Business Development. Have effectively managed people and resources, developed and consolidated internal control
        systems, implemented quality initiatives & Management Systems and liaised with culturally diverse geographically
        dispersed stakeholders and always tried to bring Business Excellence.
        <br>
        <br>
        <hr>
        <div class="content_header">Malik Basit Awan</div>
        <div class="content_subheader">(CMA – Finalist).</div>
        Mr. Basit has more than ten (10) years of experience in GST, tax, specialist in rebate claim on export, refunds and representation
        in FBR & regional tax offices on behalf of clients. He also served at different management capacities in medium size
        private ltd to large size public limited companies in tax department.
        <br>
        <br>
        <hr>
        <div class="content_header">Rania Zia</div>
        <div class="content_subheader">ACMA, CIA</div>
        She started her practical carrier with Riaz Ahmad & Co (Chartered Accountants) during her study in Faisalabad. She participated
        in different statuary and internal audits of manufacturing concerns, especially the textile mills. She worked as
        a Finance Manager in CBR housing Society for 2 years. She earned a big credit of developing the integrated system
        that is equally good for any of the housing schemes to manage the risk in financial and operation dealing. Apart
        from that she has a 3- year’s practical experience of conducting the audit, mostly housing societies and textile
        industry remained her focus.
        <br>
        <br>
        <hr>
        <div class="content_header">Muhammad Saad Naseem</div>
        <div class="content_subheader">BS (Applied Accounting), CA Finalist</div>
        Mr. Saad joined A A Ferguson Chartered Company as an internee and conducted the audit of different multinational in Pakistan.
        He went aboard for further professional study and got the degree in accounting discipline named as BS in applied
        Accounting from London. He conducted the audit of different companies in England. He joined Arshid Mahmood & Co –
        Chartered Accountants and worked a team leader for three years. His core competency is in the field of corporate
        matters, audit, risk analyses, analyses of financial reports and over all internal control.
        <br>
        <br>
        <hr>
        <div class="content_header">Mohammad Tariq</div>
        <div class="content_subheader">CA Inter</div>
        He is an experienced financial consultant having 7 years’ Experience in financial management consultancy (both local and
        abroad). He has an extensive experience in financial planning, review, analysis, income tax, sales tax, corporate
        matters and reporting. He has command of handling and supervising routine Accounting systems of clients. His portfolio
        includes around 50 satisfied organizations with computerized books of accounts. He is proud to have an opportunity
        to review an international project at Kaulalumpur, Malaysia. He conducted various Cost Audits, Internal and External
        Audits for H.E.S. - Chartered Accountants in Dubai (U.A.E). Apart from that he is heading both Tax and Corporate
        Matters in MM & Co.
        <br>
        <br>
        <hr>
        <div class="content_header">Shahid Mahmood</div>
        <div class="content_subheader">Diplomas/ certifications in IT</div>
        Mr. Shahid is an expert in customizing the integrated software and implementation of the customized software. He has implemented
        more than 30 such software in pharmaceutical, distribution and wholesale industry. He has also sufficient experience
        to develop the static as well as dynamic website.
        <br>
        <br>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<div *ngIf="divsmc">
  <mat-card>
    <mat-card-header class="header">
      <mat-card-title class="header_title">MANAGEMENT CONSULTING</mat-card-title>
    </mat-card-header>
    <mat-card-content class="card_cntnt">
      <div>
        <ul>
          <li>
            Preparation of Pre-Feasibility Studies/ Feasibility Studies (Financial, Technical and Marketing) for the new and existing
            projects.
          </li>
          <li>
            Preparation of Business Plans, Budgets and Forecasts
          </li>
          <li>
            Research, Analysis and Implementation of Activity Based Costing (ABC)
          </li>
          <li>
            Conduct surveys, public opinions, preparation of questionnaires, Compilation and Analysis of the results
          </li>
          <li>
            Project Evaluation to check productivity, performance and profitability
          </li>
          <li>
            Capital Expenditure Planning Evaluation & Control
          </li>
          <li>
            Preparation of accounting / financial manuals and internal controls
          </li>
          <li>
            Consultancy for supply chain management, warehousing, inventory management, and booking & supply scheduling etc.
          </li>
        </ul>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<div *ngIf="divits">
  <mat-card>
    <mat-card-header class="header">
      <mat-card-title class="header_title">INFORMATION TECHNOLOGY SOLUTIONS</mat-card-title>
    </mat-card-header>
    <mat-card-content class="card_cntnt">
      <div>
        The Information Technology Department of MMC provides Information Technology Solutions, services and products to its clients
        according to their specific requirements. Our aim is to provide a comprehensive solution for your business and professional
        needs. We value people and encourage teamwork by putting team success ahead of individual goals and providing support
        in achieving common goals. Our expertise and experience can enhance the way your business applications and Information
        Technology infrastructure is designed, the way they are developed and maintained to overcome your challenges of cost,
        flexibility, time, and risk. At MMC, we offer the following customized solutions:<br><br>
        <ul>
          <li>
            Accounting and Financial Management System (General Ledger, Inventory, Payroll, Sales, Purchases, Financial Reporting)
          </li>
          <li>
            Cost Management System (includes all above plus jobs costing, process costing, activity-based costing)
          </li>
          <li>
            Web Page Development (Static as well as fully Dynamic with Database Connectivity)
          </li>
          <li>
            Web Portals
          </li>
          <li>
            Human Resource Management System
          </li>
          <li>
            Sales and Receivable Management System
          </li>
          <li>
            Smart Thumb Reading Attendance Management & Reporting System
          </li>
          <li>
            Activities and Tasks Management System
          </li>
          <li>
            Network Surveillance Cameras System
          </li>
        </ul>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<div *ngIf="divtx">
  <mat-card>
    <mat-card-header class="header">
      <mat-card-title class="header_title">TAX COMPLIANCE</mat-card-title>
    </mat-card-header>
    <mat-card-content class="card_cntnt">
      <div>
        The Information Technology Department of MMC provides Information Technology Solutions, services and products to its clients
        according to their specific requirements. Our aim is to provide a comprehensive solution for your business and professional
        needs. We value people and encourage teamwork by putting team success ahead of individual goals and providing support
        in achieving common goals. Our expertise and experience can enhance the way your business applications and Information
        Technology infrastructure is designed, the way they are developed and maintained to overcome your challenges of cost,
        flexibility, time, and risk. At MMC, we offer the following customized solutions:<br>
        <<br>
          <ul>
            <li>
              Accounting and Financial Management System (General Ledger, Inventory, Payroll, Sales, Purchases, Financial Reporting)
            </li>
            <li>
              Cost Management System (includes all above plus jobs costing, process costing, activity-based costing)
            </li>
            <li>
              Web Page Development (Static as well as fully Dynamic with Database Connectivity)
            </li>
            <li>
              Web Portals
            </li>
            <li>
              Human Resource Management System
            </li>
            <li>
              Sales and Receivable Management System
            </li>
            <li>
              Smart Thumb Reading Attendance Management & Reporting System
            </li>
            <li>
              Activities and Tasks Management System
            </li>
            <li>
              Network Surveillance Cameras System
            </li>
          </ul>
          <div class="content_header">TAX COMPLIANCE </div>
          We provide a complete and comprehensive range of Income Tax, General Sales Tax (GST), Customs and Central Excise services.
          Pakistan tax system is said to be complex, confusing and ever-changing. There is a risk of penalties and interest
          charges on late tax payments, late filing of returns & others obligation under Tax Laws. Businessmen are not supposed
          to be the tax experts. Therefore they need the services of tax consultants to avoid such inconvenience. We transform
          the complex regulations of Tax laws into simple advice. We strive for the minimum payments within the ambit of
          law. We assist you to make full use of all your exemptions and relief available in the law.
          <ul>
            <li>
              Filing of Annual Income Tax Returns
            </li>
            <li>
              Monthly and Quarterly Statements required under Income Tax Ordinance 2001
            </li>
            <li>
              Appearance before Income Tax Authorities
            </li>
            <li>
              Consultancy in processing Income Tax Refund Cases & rebate claims
            </li>
            <li>
              Consultancy Regarding Tax Deductions on imports, salaries, supplies, services
            </li>
            <li>
              Appeals and Revisions
            </li>
          </ul>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<div *ngIf="divcc">
  <mat-card>
    <mat-card-header class="header">
      <mat-card-title class="header_title">CORPORATE COMPLIANCE</mat-card-title>
    </mat-card-header>
    <mat-card-content class="card_cntnt">
      <div>
        <ul>
          <li>
            Incorporation & Registration of Companies & Firms,
          </li>
          <li>
            Incorporation of Branch / Liaison Offices of Foreign Companies in Pakistan
          </li>
          <li>
            Preparation of Memorandum and Articles of Association
          </li>
          <li>
            Preparations & filing of statutory returns Required under Companies Ordinance 1984
          </li>
          <li>
            Preparation of documents for the Certificate of Commencement of Business for Public Limited Companies
          </li>
          <li>
            Enlistment of Companies in Stock Exchange
          </li>
          <li>
            Conversion of Private Limited Companies into Public Limited Companies,
          </li>
          <li>
            Winding up of Companies
          </li>
          <li>
            Mergers & Acquisitions
          </li>
          <li>
            Business Valuation
          </li>
          <li>
            Inspection of Records at Security & Exchange Commission of Pakistan (SECP)- due diligence or search report
          </li>
          <li>
            Registration with Board of Investment (BOI) Pakistan.
          </li>
          <li>
            Anti Dumping / Trade Mark.
          </li>
        </ul>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<div *ngIf="diviso">
  <mat-card>
    <mat-card-header class="header">
      <mat-card-title class="header_title">I.S.O. Quality Services</mat-card-title>
    </mat-card-header>
    <mat-card-content class="card_cntnt">
      <div>
        <ul>
          <li>
            ISO's purpose is to facilitate international trade by providing a single set of quality management standards that people
            everywhere would recognize and respect.
          </li>
          <li>
            Quality Management System is required to control or improve the quality of pr o-du cts a n d services, r e d u c e the costs
            associated with poor quality, or become competitive.
          </li>
          <li>
            We develop and Implement a Quality Management System and related procedures, carry out Audits to ensure that the organization
            meets all the requirements of ISO.
          </li>
        </ul>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<div *ngIf="divprt">
  <mat-card>
    <mat-card-header class="header">
      <mat-card-title class="header_title">PRE-JOB TRAINING</mat-card-title>
    </mat-card-header>
    <mat-card-content class="card_cntnt">
      <div>
        Employers hire people who have the knowledge and skills required in today’s more competitive and demanding jobs market. Qualified
        and studying professional find it difficult to start practical career due to lack of market knowledge, practical
        exposure, proper Guidance and other pre-requisite skills. To solve these problems and start the career in a more
        confident way MMC provides pre-job training to such professionals in the area of Accounting, Finance, Administration,
        Taxation and Consultancy etc. Our services include:<br><br>
        <ul>
          <li>
            Career Assessment, counseling
          </li>
          <li>
            Resume writing, cover letters, interviewing techniques
          </li>
          <li>
            Work history, skills identification
          </li>
          <li>
            Market Information, Occupational Trends
          </li>
          <li>
            Awareness of Office Environment
          </li>
          <li>
            Training about Basic Documentation
          </li>
          <li>
            Knowledge of Computerized Accounting
          </li>
          <li>
            Use of Microsoft Word and Excel in Office Work and Preparation of Report
          </li>
        </ul>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<div *ngIf="divojt">
  <mat-card>
    <mat-card-header class="header">
      <mat-card-title class="header_title">ON-JOB TRAINING</mat-card-title>
    </mat-card-header>
    <mat-card-content class="card_cntnt">
      <div>
        MMC assists Organizations to utilize their Human Resources in the optimal manner. Employees are trained to understand the
        work requirements so that they may be able to communicate and report relevant information for decision-making. MMC
        provides On-The- Job-Training to employed professional especially in the area of Accounting, Finance, Administration,
        Taxation and Consultancy etc. Skills identification:<br><br>
        <ul>
          <li>
            Review and redesign Standards of Practice
          </li>
          <li>
            Training about Documentation/ Processes
          </li>
          <li>
            Knowledge of Computerized Accounting
          </li>
          <li>
            Use of Microsoft Word and Excel in Office Work and Preparation of Reports
          </li>
        </ul>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<div *ngIf="divadt">
  <mat-card>
    <mat-card-header class="header">
      <mat-card-title class="header_title">AUDIT</mat-card-title>
    </mat-card-header>
    <mat-card-content class="card_cntnt">
      <div>
        At MMC, we offer the followings diversified services regarding audit:<br><br>

        <ul>
          <li>
            Statutory audit
          </li>
          <li>
            Internal Audit
          </li>
          <li>
            Investigatory or special audit
          </li>
          <li>
            Forensic audit
          </li>
          <li>
            Performance audit
          </li>
          <li>
            Rehabilitation of Sick Industrial Units
          </li>
          <li>
            Preparation of Budgets and Forecasts
          </li>
          <li>
            Industrial & Commercial Management issues and preparation of bids
          </li>
          <li>
            Setting up Policies and Procedures for Internal Control (Financial/Accounting).
          </li>
          <li>
            Fixed Assets Management
          </li>
          <li>
            Time Series Analysis
          </li>
          <li>
            Risk Analysis
          </li>
          <li>
            Offshore Data Entry
          </li>
          <li>
            Reporting on behalf of clients
          </li>
          <li>
            Analysis & Implementation of Pricing Strategies
          </li>
        </ul>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<div *ngIf="divam">
  <mat-card>
    <mat-card-header class="header">
      <mat-card-title class="header_title">APPLICATION MANAGEMENT</mat-card-title>
    </mat-card-header>
    <mat-card-content class="card_cntnt">
      <div>
        <ul>
          <li>
            Study, review, design & implementation of Manual & Computerized Financial & Cost Accounting Information Systems according
            to the requirements of the clients.
          </li>
          <li>
            Development and Implementation of Internal Control & Documentation Procedures, PPRA rules, incentive schemes and product
            costing
          </li>
          <li>
            Customization & Installation of Available Accounting Software & Users Training
          </li>
          <li>
            Supervision of Finance Department of Companies
          </li>
          <li>
            Monthly and Annual Financial Reporting, including the Preparation of Financial Statements, Cash Flows Statements, Notes to
            the Accounts
          </li>
          <li>
            Ratio Analysis (Profitability, Liquidity, Activity, Returns, Market & Risk etc.)
          </li>
          <li>
            Maintenance of records & data entry on behalf of clients
          </li>
          <li>
            Analysis of Financial Statements
          </li>
          <li>
            Payroll Preparation and Management
          </li>
          <li>
            Consultancy regarding decision making about financing through lease, borrowing or other alternatives available.
          </li>
        </ul>
      </div>
    </mat-card-content>
  </mat-card>
</div>