.main_div{
  overflow-x: hidden;
  overflow-y: hidden;
  padding-left: 5px;
  padding-right: 5px; 
}
.mnc-logo{
  width: 100%;
  max-width: 350px;
  height: auto;
}
.socail_btn_padding{
   padding-top:0px; 
}
.socail_btn{
  width: 100%;
  max-width: 40px;
  height: auto;
  cursor: pointer;
}
.image {
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}

.image:hover {
  opacity: 0.4;
}

.navbar_shadow{
  box-shadow: 5px 5px 8px #bfc4cc
}
.map_div{
    padding-top: 10px;
}
.vst_img{
    width: 48px;
    height: 48px;
    background-image: url("../assets/images/visitus.png");
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-size: cover;
  }
.header{
background: #45484d;
border-bottom: 5px solid #393B3E;
height: 50px;
padding-left: 5px;
}
.header_title{
    vertical-align:baseline;
    padding-top: 10px;
    padding-bottom: 0px;
    padding-left: 5px;
    font-size: 16pt;
    font-family: Arial, Helvetica, sans-serif;
    color: #A1A9AF;
}
mat-card{
  margin: 0px;
  padding: 0px;
}
mat-card-content{
  margin: 0px;
  padding: 0px;
}
agm-map {
    height: 335px;
  }
.map_div{
    width: 100%;
    max-width: 500px;
    height: auto;
  }
.lgn_btn
  {
    width: 100%;
    max-width: 150px;
    height: auto;
    cursor: pointer;
  }
.bannerStyle h1 {
    background-color: #ccc;
    min-height: 300px;
    text-align: center;
    line-height: 300px;
}
.address{
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
  font-weight: 500;
  color: #393B3E;
}
.address_card_content{
  padding-top: 10px; 
  padding-bottom: 10px;
}

.address_card_content_div{
  height: 350px;
  padding-top: 10px;
  padding-bottom: 10px;
}

a {
  color: #425D84;
  text-decoration: none;
}
.main_footer{
    color: #B4BAC3;
    vertical-align: bottom;
    background-color: #575A5C;
    height: 55px;
    text-align: center;
    background-clip: content-box;
    padding-top: 0px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}  
.main_footer_cred{
    color: #ffffff;
    vertical-align: bottom;
    background-color: #535658;
    height: 55px;
    text-align: center;
    background-clip: content-box;  
}  

.dropdown-menu .sub-menu {
  left: 100%;
  position: absolute;
  top: 0;
  visibility: hidden;
  margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
  visibility: visible;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
  margin-top: 0;
}

.dropdown:hover {
  background-color: #f2f0f0;
}

.navbar .sub-menu:before {
  border-bottom: 7px solid transparent;
  border-left: none;
  border-right: 7px solid rgba(0, 0, 0, 0.2);
  border-top: 7px solid transparent;
  left: -7px;
  top: 10px;
}

.navbar .sub-menu:after {
  border-top: 6px solid transparent;
  border-left: none;
  border-right: 6px solid #fff;
  border-bottom: 6px solid transparent;
  left: 10px;
  top: 11px;
  left: -6px;
}
